body {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}
.container {
  width: 55.6rem;
  height: 40rem;
}
.contenant {
  width: 35rem;
  height: 15rem;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: 0 0 5px rgba(0, 0.5, 0, 0.5);
}
.container .input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont1 {
  width: 32rem;
  height: 2.5rem;
  background-color: #d9d9d9;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cont1 p {
  margin-left: 1rem;
}
.cercle {
  width: 30px;
  height: 30px;
  background-color: #b4b4b4;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  margin-top: -10px;
}
